<p class='capital'><span class="bolw">Capital: </span>{{capital}}</p>
<p class='population'><span class="bolw">Population: </span>{{population}}</p>
<p class='languages'><span class="bolw">Languages: </span><span  class='languages-list'>
{{#each languages}}
	{{this}},
{{/each}}
</span></p>

